@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condenced');
@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
  --bg: #3b4252;
  --fg: #d8dee9;
  --secondaryFg: #e5e9f0;
  --containerBg: #2e3440;
  --scrollbarColor: #2e3440;
  --scrollbarVisibility: hidden;
}

body {
  background-color: var(--bg);
  margin: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
  position: absolute;
  bottom: 0;
  height: auto;
  width: auto;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
} /* position bottom left — делают выравнивание по нижней части страницы */


.inline {
  display: inline-block;
}

.bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0em 0em 0em 0em;
  
}

@media only screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  .container > .bookmark-container {
    flex-direction: column;
    width: 100%;
  }
  .bookmark-container > .bookmark-set {
    width: auto;
    margin: 0.25em 0.25em;
  }
}

.bookmark-set {
  padding: 0em 0.5em 0.5em 0.5em;
  background-color: var(--containerBg);
  border-radius: 8px;
  font-family: 'Roboto Condenced';
  font-size: 0.8rem;
  width: 127px;
  height: auto;
  margin: 0em 0em;
  box-sizing: border-box;
}

.bookmark-inner-container {
  overflow-y: scroll;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  scrollbar-visibility:hidden;
  scrollbar-width: none;
  font-family: 'Oswald';
  font-size: 1rem;
}

.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em 0em 0em;
}
.bookmark:hover {
  color: var(--fg);
}


